.about-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 50px;
  background-color: #fafafa;
}

.description {
  text-align: left;
  width: 60%;
  margin-right: 50px;
}

.name {
  font-size: 2.7em;
}

.role {
  font-size: 1.5em;
  font-weight: lighter;
  margin-bottom: 20px;
}

.home-profile-image {
  width: 30%;
  max-width: 500px;
  min-width: 300px;
  overflow: hidden;
}

.home-profile-image img {
  width: 100%;
  height: auto;
}

.overview-section {
  padding: 50px;
}

.overview-title {
  font-size: 2em;
  margin-bottom: 20px;
}

p {
  margin-bottom: 20px;
}

.more-about-me {
  text-align: center;
}

@media (max-width: 1000px) {
  .about-section {
    flex-direction: column;
    align-items: center;
  }

  .description {
    margin-right: 0;
    width: 100%;
  }

  .home-profile-image {
    width: 60%;
  }
}

@media (max-width: 750px) {
  .about-section {
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #fff;
  }

  .name {
    font-size: 2.4em;
  }

  .role {
    font-size: 1.3em;
  }

  .description {
    text-align: center;
    margin-right: 0;
    width: 100%;
  }

  .home-profile-image {
    width: 70%;
    min-width: 100px;
  }

  .overview-section {
    text-align: center;
    padding: 20px;
  }

  .overview-title {
    font-size: 1.7em;
  }
}
