<div class="about-section">
  <div class="description">
    <div class="title name">Ricardo Rocker</div>
    <div class="role">Front end Angular Developer</div>
    <p>
      I'm a software engineer in frontend development for complex scalable web apps.
    </p>
    <p>
      I'm doing this Angular website, since February 1st, 2023, to improve and fix my technical knowledge in Angular. I use Bootstrap in my job, but I'm not using it to practice more pure CSS.
    </p>
    <p>
      Features already used to make this site: <br>
      Typescript - ngIf - ngFor - ng-template - pipes operators - interpolations - lifecycle hooks - router-oulet - child routes - reactive forms - reusable components (cards)
    </p>
  </div>

  <div class="home-profile-image">
    <img src="../../../assets/programming.jpeg" alt="Rocker" />
  </div>
</div>

<div class="overview-section">
  <div class="title overview-title">What I do?</div>
  <p class="default-component-text">
    Since January 2021, I have been working as a remote front-end developer,
    creating, optimizing and solving bugs, using Angular, Bootstrap, Dbeaver and
    Azure DevOps, git versioning, participating in daily and weekly meetings by
    Microsoft Teams.
  </p>
  <p class="default-component-text">
    Until 2020 I worked in the area of controllership and strategic planning,
    analyzing accounting/financial data and creating reports/presentations for
    decision-making by the board and directors.
  </p>
</div>

<div class="more-about-me">
  <button class="button" (click)="goToStudies()">My Angular Studies</button>
</div>
