.about-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 50px;
  background-color: #fafafa;
}

.description {
  text-align: left;
  margin-right: 50px;
}

.name {
  font-size: 2.7em;
}

.role {
  font-size: 1.5em;
  font-weight: lighter;
  margin-bottom: 20px;
}

.home-profile-image {
  width: 360px;
  height: 270px;
  overflow: hidden;
}

.home-profile-image img {
  width: 100%;
  height: auto;
}

.overview-section {
  padding: 50px;
}

.overview-title {
  font-size: 2em;
  margin-bottom: 20px;
}

p {
  margin-bottom: 20px;
}

.more-about-me {
  text-align: center;
}

button {
  font-size: 1.3em;
  padding: 10px;
  border-style: none;
  background-color: #fff;
  color: gray;
  transition-duration: 0.4s;
  border-bottom: 3px solid rgb(174, 174, 174);
}

button:hover {
  background-color: #20474c;
  color: #fff;
  border-radius: 5%;
  border-bottom: none;
}

@media ( max-width: 650px ) {
  .home-profile-image {
    display: none;
  }

  .about-section {
    padding: 20px;
  }

  .name{
    font-size: 2.4em;
  }

  .role{
    font-size: 1.3em;
  }

  .description {
    text-align: center;
    margin-right: 0;
  }

  .overview-section {
    padding: 20px;
    text-align: center;
  }

  .overview-title{
    font-size: 1.7em;
  }
}

