<div class="default-component">

  <div class="container resume-container px-3 px-lg-5">

    <!--//container-->
    <article class="resume-wrapper mx-auto theme-bg-light p-5 mb-5 my-5 shadow-lg">

      <!--//resume-header-->
      <div class="resume-header">

        <!--//row-->
        <div class="row align-items-center">

          <!--//resume-title-->
          <div class="resume-title col-12 col-md-6 col-lg-8 col-xl-9">
            <h2 class="resume-name mb-0 text-uppercase">Ricardo Rocker</h2>
            <div class="resume-tagline mb-3 mb-md-0">Front end Angular Developer</div>
          </div>

          <!--//resume-contact-->
          <div class="resume-contact col-12 col-md-6 col-lg-4 col-xl-3">
            <ul class="list-unstyled mb-0">
              <li class="mb-2">
                <fa-icon [icon]="faPhone" class="me-2"></fa-icon>
                <a class="resume-link" href="tel:55083991222886">+55 (83) 991222-2886</a>
              </li>
              <li class="mb-2">
                <fa-icon [icon]="faEnvelope" class="me-2"></fa-icon>
                <a class="resume-link" href="mailto:ricardo.santos.rocker@gmail.com">ricardo.santos.rocker@gmail.com</a>
              </li>
              <li class="mb-2">
                <fa-icon [icon]="faGlobe" class="me-2"></fa-icon>
                <a class="resume-link" href="www.ricardorocker.com" target="_blank">www.ricardorocker.com</a>
              </li>
              <li class="mb-0">
                <fa-icon [icon]="faLocationDot" class="me-2"></fa-icon>
                João Pessoa, Brazil
              </li>
            </ul>
          </div>
        </div>

      </div>

      <hr>

      <!--//resume-intro-->
      <div class="resume-intro py-3">
        <div class="row align-items-center">
          <div class="col-12 col-md-3 col-xl-2 text-center">
            <img class="resume-profile-image mb-3 mb-md-0 me-md-5  ms-md-0 rounded-circle mx-auto"
              src="../../../assets/profile.jpg" alt="image">
          </div>

          <!--//col-->
          <div class="col text-start">
            <p class="mb-0">Since January 2021, I have been working as a remote front-end developer, creating,
              optimizing and solving bugs, using Angular, Bootstrap, Dbeaver and Azure DevOps, git versioning,
              participating in daily and weekly meetings by Microsoft Teams.
            </p>
            <p>
              Until 2020 I worked in the area of controllership and strategic planning, analyzing accounting/financial
              data and creating reports/presentations for decision-making by the board and directors.
            </p>
          </div>
        </div>
      </div>

      <hr>

      <!--//resume-body-->
      <div class="resume-body">

        <!--//row-->
        <div class="row">

          <!--//resume-main-->
          <div class="resume-main col-12 col-lg-8 col-xl-9   pe-0   pe-lg-5">

            <!--//work-section-->
            <section class="work-section py-3">
              <h3 class="text-uppercase resume-section-heading mb-4">Work Experiences</h3>

              <!--//item-->
              <div class="item mb-3">
                <div class="item-heading row align-items-center mb-2">
                  <h4 class="item-title col-12 col-md-6 col-lg-8 mb-2 mb-md-0">Front End Developer</h4>
                  <div class="item-meta col-12 col-md-6 col-lg-4 text-muted text-start text-md-end">Itix Tecnologia |
                    2021 -
                    Present
                  </div>

                </div>
                <div class="item-content">
                  <p>Development, coding of user interfaces, application testing and debugging, using Angular,
                    Typescript, Bootstrap, Figma, Azure Devops, Dbeaver, git versioning and Eclipse integration.
                  </p>
                  <p> Collaboration with business analysts, other developers and requirements analyst to produce
                    software for a healthcare system.
                  </p>
                  <ul class="resume-list">
                    <li>Working knowledge of RESTful services.</li>
                    <li>Strong TypeScript and JavaScript practices. </li>
                    <li>I leverage CICD automation and best practices to deliver quality solutions to our end users.
                    </li>
                  </ul>
                </div>
              </div>

              <!--//item-->
              <div class="item mb-3">
                <div class="item-heading row align-items-center mb-2">
                  <h4 class="item-title col-12 col-md-6 col-lg-8 mb-2 mb-md-0">Senior Controllership Analyst</h4>
                  <div class="item-meta col-12 col-md-6 col-lg-4 text-muted text-start text-md-end">Unimed Salto/Itu |
                    2019 - 2020
                  </div>

                </div>
                <div class="item-content">
                  <p>
                    Responsible for the controllership area, with the main objective of developing management panels and
                    reports for decision making by the board, fiscal council and administration.
                  </p>
                  <p> Responsible for budget control, developing budget rules and procedures, analyzing expenses by
                    budget account, accounting, management, supervision, cost center, monthly and accumulated.
                  </p>
                  <p> Analyze the balance sheet and income statement and prepare management reports. Control the
                    calculation of accounting and management provisions.
                  </p>
                </div>
              </div>

            </section>


            <!--//education-section-->
            <section class="education-section py-3">
              <h3 class="text-uppercase resume-section-heading mb-4">Education</h3>

              <!--//item-->
              <div class="item mb-3">
                <div class="item-heading row align-items-center mb-2">
                  <h4 class="item-title col-12 col-md-6 col-lg-8 mb-2 mb-md-0">Postgraduate, Software Engineering</h4>
                  <div class="item-meta col-12 col-md-6 col-lg-4 text-muted text-start text-md-end">2021 - 2022
                  </div>
                </div>
                <div class="item-content">
                  <p>Software Engineering teaches the principles of modern software engineering, together with the
                    tools,
                    methods and techniques.</p>
                </div>
              </div>

              <!--//item-->
              <div class="item mb-3">
                <div class="item-heading row align-items-center mb-2">
                  <h4 class="item-title col-12 col-md-6 col-lg-8 mb-2 mb-md-0">Bachelor, Accounting Sciences</h4>
                  <div class="item-meta col-12 col-md-6 col-lg-4 text-muted text-start text-md-end">2017 - 2021
                  </div>
                </div>
                <div class="item-content">
                  <p>The programme includes four core areas of study: Management Accounting and Finance, Financial
                    Accounting, Auditing, and Taxation.</p>
                </div>
              </div>

              <!--//item-->
              <div class="item mb-3">
                <div class="item-heading row align-items-center mb-2">
                  <h4 class="item-title col-12 col-md-6 col-lg-8 mb-2 mb-md-0">Technology, Management Processes</h4>
                  <div class="item-meta col-12 col-md-6 col-lg-4 text-muted text-start text-md-end">2016 - 2018
                  </div>
                </div>
                <div class="item-content">
                  <p>Technology management can also be defined as the integrated planning, design, optimization,
                    operation and control of technological products, processes and services.</p>
                </div>
              </div>


            </section>
          </div>

          <!--//resume-aside-->
          <aside class="resume-aside col-12 col-lg-4 col-xl-3 px-lg-4 pb-lg-4">

            <!--//skills-section-->
            <section class="skills-section py-3">
              <h3 class="text-uppercase resume-section-heading mb-4">Skills</h3>

              <!--//item-->
              <div class="item">
                <h4 class="item-title">Technical</h4>
                <ul class="list-unstyled resume-skills-list">
                  <li class="mb-2">Angular</li>
                  <li class="mb-2">JavaScript</li>
                  <li class="mb-2">TypeScript</li>
                  <li class="mb-2">PostgreSQL</li>
                  <li class="mb-2">Git versioning</li>
                  <li class="mb-2">Azure DevOps</li>
                  <li class="mb-2">Object-oriented design</li>
                  <li class="mb-2">Agile Scrum methodology</li>
                  <li class="mb-2">Design and implement database structures</li>
                  <li>Lead and deliver complex software systems</li>
                </ul>
              </div>

              <!--//item-->
              <div class="item">
                <h4 class="item-title">Professional</h4>
                <ul class="list-unstyled resume-skills-list">
                  <li class="mb-2">Effective communication</li>
                  <li class="mb-2">Team player</li>
                  <li class="mb-2">Strong problem solver</li>
                  <li>Good time management</li>
                </ul>
              </div>
            </section>
            <section class="skills-section py-3">
              <h3 class="text-uppercase resume-section-heading mb-4">Languages</h3>
              <ul class="list-unstyled resume-lang-list">
                <li class="mb-2">Portuguese <span class="text-muted">(Native)</span></li>
                <li>English <span class="text-muted">(Professional)</span></li>
              </ul>
            </section>
            <section class="skills-section py-3">
              <h3 class="text-uppercase resume-section-heading mb-4">Interests</h3>
              <ul class="list-unstyled resume-interests-list mb-0">
                <li class="mb-2">Play guitar</li>
                <li class="mb-2">Run on the beach</li>
                <li>Hangout with friends</li>
              </ul>
            </section>

          </aside>
        </div>
      </div>

      <hr>

      <!--//resume-footer-->
      <div class="resume-footer text-center">
        <ul class="resume-social-list list-inline mx-auto mb-0 d-inline-block text-muted">
          <li class="list-inline-item mb-lg-0 me-3"><a class="resume-link" href="https://github.com/ricardorocker#"
              target="_blank">
              <fa-icon [icon]="faGithub" class="me-2"></fa-icon>
              <span class="d-none d-lg-inline-block text-muted">github.com/ricardorocker</span></a></li>

          <li class="list-inline-item mb-lg-0 me-3"><a class="resume-link"
              href="https://www.linkedin.com/in/ricardo-s-rocker/#" target="_blank">
              <fa-icon [icon]="faLinkedin" class="me-2"></fa-icon>
              <span class="d-none d-lg-inline-block text-muted">linkedin.com/in/ricardo-s-rocker</span></a></li>

          <li class="list-inline-item mb-lg-0 me-lg-3"><a class="resume-link"
              href="https://www.instagram.com/ricardo.rocker/#" target="_blank">
              <fa-icon [icon]="faInstagram" class="me-2"></fa-icon>
              <span class="d-none d-lg-inline-block text-muted">@ricardo.rocker</span></a></li>
        </ul>
      </div>
    </article>
  </div>
</div>
