<div class="home">
  <!-- <div class="banner" style="height: 500px; background-image: url('../../../assets/banner.jpg');"> -->
  <div class="banner" style="height: 500px; background-color: black;">
    <div class="logo" style="background-image: url('../../../assets/profile.jpg');"></div>
    <div class="title">
      <h1>Ricardo Rocker</h1>
      <h3>Front end Angular developer</h3>
    </div>
    <nav class="navbar navbar-expand-lg navbar-light ">
      <a class="navbar-brand text-white" href="#">Ricardo Rocker</a>
      <button class="navbar-toggler bg-light" type="button" (click)="toggleNavbar()" data-toggle="collapse"
        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item" *ngFor="let item of items">
            <a class="nav-link text-white" routerLink="{{item.link}}">{{item.name}}</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
  <div class="banner-nav-buttons">
    <button *ngFor="let button of buttons" class="btn btn-circle btn-secondary">{{ button.name }}</button>
  </div>
</div>
