<div class="default-component">

  <div class="test">

    <!-- CARDS EXPLAIN ----------------------------------------------------------------------------------------- -->
    <div class="brief-subject">
      <app-card [title]="'Using Forms'" [hasImage]="false">
        <P>Controller</P>
        <ul>
          <li>initialize formBuilder in constructor</li>
          <div class="code">constructor(<br>
            private formBuilder: FormBuilder)</div>
          <li>declare a FormGroup prop, to receive a formBuilder</li>
        </ul>
        <div class="code">
          <p>
            public cadastroForm: FormGroup = this.formBuilder.group({{ '{' }}<br>
            &nbsp; firstName: ['']<br>
            })
          </p>
        </div>
        <br>
        <p>Template:</p>
        <ul>
          <li>create form with formGroup and ngSubmit to submitButton</li>
          <div class="code">
            <div><span>&lt;</span><span>form</span>
              <span>[formGroup]</span>=<span>"</span><span>cadastroForm</span><span>"</span>
              <span>(ngSubmit)</span>=<span>"</span><span>submitForm</span>()<span>"</span><span>&gt;</span>
            </div>
          </div>
          <li>use formControlName in inputs to bind values</li>
          <div class="code">
            <span>&lt;</span><span>input</span><span> type</span>=<span>"text"</span>
            <span> formControlName</span>=<span>"firstName"</span><span>&gt;</span>
          </div>
        </ul>
      </app-card>
    </div>
    <div class="brief-subject">
      <app-card [title]="'Validators'" [hasImage]="false">
        <ul>
          <li>import Validators to insert in control</li>
          <div class="code">['', Validators.required]</div>
          <li>can show a span using ngIf</li>
          <div class="code">*ngIf form.get('name')?.errors</div>
          <li>can use:</li>
          <div class="code">value || errors || touched || dirty</div>
          <li>email, maxLength and minLength</li>
          <div class="code">
            <span>email</span><span>:</span> ['', [<span>Validators</span>.<span>email, Validators.minLength(4),&nbsp;
              Validators.maxLength(9)</span>]],
          </div>
          <li>use controls validators to show how many letters need and how many currently have:</li>
          <div class="code">
            "Conter no m&iacute;nimo" {{<span>form</span>.<span>get</span>(<span>"lastName"</span>
            )?.<span>errors</span>?.[<span>'minlength'</span>]?.<span>requiredLength</span>}}
          </div>
          <div class="code">
            "letras e atualmente possui" {{<span>form</span>.<span>get</span>(<span>"lastName"</span>
            )?.<span>errors</span>?.[<span>'minlength'</span>]?.<span>actualLength</span>}}
          </div>
        </ul>
      </app-card>
    </div>
    <div class="brief-subject">
      <app-card [title]="'Valid and Invalid'" [hasImage]="false">
        <ul>
          <li>use Disabled attribute to with invalid control form</li>
          <div class="code">
            <span>&lt;</span><span>button </span> <span>type</span>=<span>"submit"</span>
            <span>[disabled]</span>=<span>"</span><span>cadastroForm</span>.<span>invalid</span><span>"</span><span>&gt;</span>
          </div>
          <li>use valid control to do a condition before make request</li>
          <div class="code">
            <div><span>if</span>(<span>this</span>.<span>cadastroForm</span>.<span>valid</span>){{ '{' }}</div>
            <div><span>&nbsp; this.service.makePost(this.form)...</span></div>
            <div>}</div>
          </div>
        </ul>
      </app-card>
    </div>


    <!-- CODE PRATICING -----------------------------------------------------------------------------------------  -->
    <div class="code-subject">
      <form [formGroup]="cadastroForm" (ngSubmit)="submitForm()">
        <label>
          Nome<strong>*</strong> :
          <input type="text" formControlName="firstName" required>
          <span *ngIf="cadastroForm.get('firstName')?.errors && cadastroForm.get('firstName')?.touched" class="alert">
            Favor adicionar o nome
          </span>
        </label>
        <br><br>
        <label>
          Sobrenome<strong>*</strong> :
          <input type="text" formControlName="lastName">
          <span class="alert" *ngIf="cadastroForm.get('lastName')?.errors?.['required'] && cadastroForm.get('lastName')?.touched">
            Campo obrigatório
          </span>
          <span *ngIf="cadastroForm.get('lastName')?.errors?.['minLength'] && cadastroForm.get('lastName')?.touched" class="alert">
            Favor deve no mínimo {{ cadastroForm.get("lastName")?.errors?.['minlength']?.requiredLength }} letras
            e atualmente possui {{ cadastroForm.get("lastName")?.errors?.['minlength']?.actualLength }}
          </span>
        </label>
        <br><br>
        <label>
          Email<strong>*</strong> :
          <input type="email" formControlName="email">
          <span class="alert" *ngIf="cadastroForm.get('email')?.errors && cadastroForm.get('email')?.touched">
            {{ cadastroForm.get('email')?.errors | json }}
          </span>
        </label>
        <br><br>

        <!-- <p>value: {{ cadastroForm.get('firstName')?.value }}</p>
        <p>errors: {{ cadastroForm.get('firstName')?.errors | json }}</p>
        <p>touched: {{ cadastroForm.get('firstName')?.touched | json }}</p>
        <p>dirty: {{ cadastroForm.get('firstName')?.dirty | json }}</p> -->

        <div class="submit-container">
          <button type="submit" [disabled]="cadastroForm.invalid">Enviar</button>
        </div>

      </form>

      <div *ngIf="isSubmitted">{{ cadastroForm.value | json }}</div>

    </div>

  </div>

</div>
