.home {
  height: 500px;
}

.not-home {
  height: 80px;
}

.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-position: center;
  background-size: cover;
  position: relative;
  height: 500px;
  /* background-image: url("https://images.unsplash.com/photo-1562907550-096d3bf9b25c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1935&q=80"); */
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.banner-not-home {
  height: 80px;
}

.title {
  color: #fff;
  text-align: center;
  text-transform: uppercase;
}

h1 {
  font-size: 2.75rem;
  font-weight: 900;
  letter-spacing: 0.4rem;
  text-shadow: 1px 1px 1px #2b2b2b;
}

h3 {
  font-size: 1.4rem;
  letter-spacing: 0.15rem;
  text-shadow: 1px 1px 1px #2b2b2b;
}

.logo {
  width: 180px;
  height: 180px;
  background-position: center;
  background-size: cover;
  border-radius: 50%;
  margin-bottom: 20px;
  animation: shadowAppear 2s ease-in-out infinite;
}

.logo:hover {
  width: 190px;
  height: 190px;
  cursor: pointer;
}

.navbar {
  position: absolute;
  top: 0;
  padding: 20px;
  z-index: 999;
}

.navbar-brand {
  font-size: 22px;
  margin-right: 100px;
  text-shadow: 1px 1px 1px #2b2b2b;
}

.nav-item {
  font-size: 16px;
  text-transform: uppercase;
  text-shadow: 1px 1px 1px #2b2b2b;
}

.nav-item:hover {
  border-radius: 5%;
  background-color: rgba(255, 255, 255, 0.3);
}

.banner-nav-buttons {
  position: absolute;
  top: 472px;
  /* 500px - metade de 56px */
  left: 0;
  width: 100%;
  padding: 0px;
  text-align: center;
}

.btn-circle {
  border-radius: 50%;
  width: 56px;
  height: 56px;
  padding: 0;
  font-size: 24px;
  line-height: 56px;
  text-align: center;
  margin: 0 21px;
  z-index: 500;
}


@keyframes shadowAppear {
  from {
    box-shadow: none;
  }

  to {
    box-shadow: 0 0 40px rgba(255, 255, 255, 0.3);
  }
}

@media (max-width: 992px) {
  .home {
    margin-bottom: 20px;
  }

  .navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: black;
  }

  .navbar-nav {
    flex-direction: column;
    align-items: center;
    border-radius: 2%;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.5);
  }

  .nav-link {
    padding: 20px;
  }

  .navbar-toggler {
    border-style: none;
  }

  .logo {
    margin-top: 20px;
    animation: none;
  }
}
