<nav class="navbar-container">

  <div class="navbar-profile-image">
    <img src="../../../assets/profile.jpg" alt="Rocker">
  </div>

  <div class="navbar-description-profile">
    <div class="navbar-name">Ricardo Rocker</div>
    <div class="navbar-role">ANGULAR DEVELOPER</div>
  </div>

  <ul>
    <li *ngFor="let page of pages" class="navbar-item">
      <a [routerLink]="[page.route]">
        <img *ngIf="smallScreen; else desktop" [src]="page.icon" [title]="page.name"
        [alt]="page.name" class="icons">
        <ng-template #desktop>
          {{ page.name | uppercase}}
        </ng-template>
      </a>
    </li>
  </ul>

</nav>
